.mdc-card__media {
  background-image: url("img/i7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
}


.mdc-card {
  width: 350px;
  height: 350px;
}

.mdc-card__supporting-text {
  height: 200px;
  overflow: hidden;
}


.mdc-card--theme-dark {
    /*background: black;*/
}

.mdc-button--theme-dark {
  /*color: #fff;*/
}