.app-fab--absolute {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}


.app-fab--absolute2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

@media screen and (max-width: 1000px ) { 

.app-fab--absolute {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}


}

