
.mdc-card__supporting-text {
    /*display: none;*/
}

.problem .mdc-card__supporting-text {
    /*overflow-wrap: wrap;*/
}

.problem {
  width: 350px;
  height: 350px;
}

.mdc-card__supporting-text {
  height: 200px;
  overflow: hidden;
}

